*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .box{
    cursor: pointer;
   
    
  }

  .box:hover{
    cursor: pointer;
    background-color: rgb(216, 216, 216);
    
  }

.imgBox img {
width: 0px;
transition: width 1s ease-in-out;
}
  
/* #reset{
  
} */